{% extends "base.html" %}
{% block content %}
<h2>Leaderboard</h2>
<table class="table table-striped table-bordered bg-white">
    <thead class="table-dark">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Total Games</th>
        <th>Wins</th>
        <th>Win %</th>
        <th>Best Streak</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ score.user.username }}</td>
        <td>{{ score.total_games }}</td>
        <td>{{ score.wins }}</td>
        <td>{{ score.win_percentage }}%</td>
        <td>{{ score.best_streak }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
